@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    font-family: 'Patua One', serif;
}

body {
  font-family: inherit;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #2200ffd8;
  color: #fff;
  text-align: center;
  padding: 3.5px 0 3.5px 0;
}

.about {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about p {
  line-height: 1.6;
  color: #333;
}

.highlight {
  color: #1baa38;
  font-weight: bold;
}

h1{
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
.about {
      padding: 10px;
      max-width: 85%;
}
    
.about p {
      font-size: 16px;
}
}
