@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

*{
    font-family: 'Patua One', serif;

}
h1{
  font-weight: 350;
}
body {
    font-family: inherit;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
    #submitButton {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
     .form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 20px;
}

      #submitButton {
    padding: 12px 25px;
  }
      
      .form-group input[type="text"],
      .form-group input[type="email"],
      .form-group textarea {
        font-size: 16px;
    }
  }
